extends ../includes/header
block content
  .container
    .row
      .col-md-3.mb-3
        p(class="lead") YelpCamp
        ul(class="list-group")
          li(class="list-group-item active") Info 1
          li(class="list-group-item") Info 2
          li(class="list-group-item") Info 3
      .col-md-9
        .img-thumbnail.img-fluid
          img(src=`/${campground.image}`)
          .caption-full
            h4(class="float-right") 9$/night
            h4 
              a(href="#") #{campground.name}
            p #{campground.description}
        .card.bg-light.my-3.p-3
          a(
            class="btn btn-success ml-auto"
            href=`/campgrounds/${campground.id}/comments/new`
          ) Add new comment
          hr
          each comment in campground.comments
            .row
              .col #[strong #{comment.author.name}] #[span(class="float-right") 10 days ago]
               p #{comment.text}