extends includes/header
block content
  .ui.container.main
    each blog in blogs
      .ui.huge.header #{blog.title}
      .ui.top.attached
        .item
          img(class="ui centered rounded image" src=blog.image)
        .content
          p #{blog.createdAt.toDateString()}
        .description
          p !{blog.body.substring(0, 100)}...
        a(href=`/blogs/${blog.id}`) Read more