extends includes/header
block content
  .ui.container.main.text
    .ui.huge.header RESTful Blog App
    .ui.top.attached
      .ui.divided.items
        each blog in blogs
          .item
            .image
              img(class="ui centered rounded image" src=blog.image)
            .content
              a(class="header" href=`/blogs/${blog.id}`) #{blog.title}
              .meta
                p #{blog.createdAt.toDateString()}
              .description
                p !{blog.body.substring(0, 100)}...
              .extra
                a(class="ui floated basic button violet" href=`/blogs/${blog.id}`) Read more #[i(class="right chevron icon")]